<!DOCTYPE html>
<html lang="pt-br">
<head>
<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="description"
	content="A front-end template that helps you build fast, modern mobile web apps.">
<meta name="viewport" content="width=device-width, initial-scale=1">
<title>Cosangue</title>

<!-- Add to homescreen for Chrome on Android -->
<meta name="mobile-web-app-capable" content="yes">
<link rel="icon" sizes="192x192" href="../img/ic_opacity_black_24dp.png">

<!-- Add to homescreen for Safari on iOS -->
<meta name="apple-mobile-web-app-capable" content="yes">
<meta name="apple-mobile-web-app-status-bar-style" content="black">
<meta name="apple-mobile-web-app-title" content="Cosangue">
<link rel="apple-touch-icon-precomposed"
	href="../img/ic_opacity_black_24dp">

<!-- Tile icon for Win8 (144x144 + tile color) -->
<meta name="msapplication-TileImage"
	content="images/touch/ms-touch-icon-144x144-precomposed.png">
<meta name="msapplication-TileColor" content="#3372DF">

<link rel="shortcut icon" href="../img/ic_opacity_black_24dp" />

<link
	href="https://fonts.googleapis.com/css?family=Roboto:regular,bold,italic,thin,light,bolditalic,black,medium&amp;lang=en"
	rel="stylesheet">
<link href="https://fonts.googleapis.com/icon?family=Material+Icons"
	rel="stylesheet">
<link rel="stylesheet"
	href="https://storage.googleapis.com/code.getmdl.io/1.0.5/material.red-deep_orange.min.css" />
<script
	src="https://storage.googleapis.com/code.getmdl.io/1.0.5/material.min.js"></script>
<script src="../js/material.min.js"></script>
<link rel="stylesheet"
	href="https://fonts.googleapis.com/icon?family=Material+Icons">
<link rel="stylesheet" href="../css/styles.css">
<style type="text/css">
.campo1 {
	float: left;
}

.mdl-cell {
	padding: 1cm 1cm 1cm 1cm;
}
</style>

</head>
<body background="../img/cream_pixels.png">
	<div
		class="demo-layout mdl-layout mdl-js-layout mdl-layout--fixed-drawer mdl-layout--fixed-header">
		<header
			class="demo-header mdl-layout__header mdl-color--white mdl-color--grey-100 mdl-color-text--grey-600">
			<div class="mdl-layout__header-row">
				<span class="mdl-layout-title">Criar evento</span>
				<div class="mdl-layout-spacer"></div>
			</div>
		</header>
		<div
			class="demo-drawer mdl-layout__drawer mdl-color--red-900 mdl-color-text--blue-grey-50">
			<header class="demo-drawer-header">
				<img src="/img/user.jpg" class="demo-avatar">
				<div class="demo-avatar-dropdown">
					<span class="mdl-color-text--white">projetocosangue</span>
					<div class="mdl-layout-spacer"></div>
				</div>
			</header>
			<nav class="demo-navigation mdl-navigation mdl-color--red-800">
				<a class="mdl-navigation__link mdl-color-text--white"
					href="/listaEventos"><i
					class="mdl-color-text--white material-icons" role="presentation">home</i>Eventos</a>
				<a class="mdl-navigation__link mdl-color-text--white"
					href="/telaCriaEvento"><i
					class="mdl-color-text--white material-icons" role="presentation">event</i>Criar
					Evento</a> <a class="mdl-navigation__link mdl-color-text--white"
					href="/sair"><i class="mdl-color-text--white material-icons"
					role="presentation">power_settings_new</i>Sair</a>
				<div class="mdl-layout-spacer"></div>
			</nav>
		</div>

		<main class="mdl-layout__content ">
		<div class="mdl-grid demo-content">
			<div
				class="mdl-color--white mdl-shadow--2dp mdl-cell mdl-cell--9-col mdl-grid">
				<form action="/criar" method="POST" name="form_cadastro">
					<div
						class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label mdl-cell--12-col mdl-cell--6-col-phone mdl-cell--8-col-tablet">
						<input class="mdl-textfield__input" type="text" id="titulo"
							name="nome" /> <label class="mdl-textfield__label" for="titulo">Título
							Evento</label>
					</div>

					<div
						class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label mdl-cell--12-col mdl-cell--6-col-phone mdl-cell--8-col-tablet">
						<textarea class="mdl-textfield__input" id="descricao"
							name="descricao" rows="1"></textarea>
						<label class="mdl-textfield__label" for="descricao">Descrição</label>
					</div>

					<div
						class="mdl-textfield mdl-js-textfield mdl-cell--12-col mdl-cell--6-col-phone mdl-cell--8-col-tablet"
						id="locationField">
						<input class="mdl-textfield__input" name="enderecoCompleto"
							id="autocomplete" onFocus="geolocate()" type="text"></input> <label
							class="mdl-textfield__label" for="descricao"></label>
					</div>

					<div class="mdl-radio-group">
						<h6>
							Categoria: {{#categoria}} <label
								class="mdl-radio mdl-js-radio mdl-js-ripple-effect"
								for="{{name}}"> <input class="mdl-radio__button"
								id="{{name}}" name="categoria" type="radio" value="{{name}}"
								onclick="habilitar();"> <span class="mdl-radio__label">{{nome}}
									&nbsp; </span>
							</label> {{/categoria}}
						</h6>
					</div>

					<div class="mdl-radio-group" id="tipos" style="display: none;">
						<h6>
							Tipo Sanguíneo: {{#tipo}} <label
								class="mdl-radio mdl-js-radio mdl-js-ripple-effect"
								for="{{name}}"> <input class="mdl-radio__button"
								id="{{name}}" name="tipo" type="radio" value="{{name}}">
								<span class="mdl-radio__label">{{descricao}} &nbsp; </span>
							</label> {{/tipo}}
						</h6>
					</div>

					<div>
						<h6>
							Data:<input type=date name="data"></input>
						</h6>
					</div>

					<div>
						<h6>
							Horário:<input type=time name="horario"></input>
						</h6>
					</div>

					<input id="street_number" name="nr" type="hidden"></input> <input
						id="route" name="logradouro" type="hidden"></input> <input
						id="locality" name="cidade" type="hidden"></input> <input
						id="administrative_area_level_1" name="uf" type="hidden"></input>


					<div class="mdl-card__actions mdl-card--border">
						<button
							class="mdl-button mdl-button--colored mdl-js-button mdl-js-ripple-effect"
							type="button" onclick="history.go(-1)">Voltar</button>
						<input
							class="mdl-button mdl-button--colored mdl-js-button mdl-js-ripple-effect"
							type="button" onclick="return validaFormulario()" value="Criar">
					</div>

				</form>

			</div>
		</div>
		</main>
	</div>

	<!-- script habilita radio -->

	<script type="text/javascript">  
function habilitar(){  
	var tipoSan = document.getElementById("tipos");
	
    if(document.getElementById("SOLICITACAO").checked){  
        tipoSan.style.display = "block";
    } else {
    	tipoSan.style.display = "none";
    }
}  
</script>

	<script type="text/javascript">
function validaFormulario() {
	var formulario = document.form_cadastro;

	if (formulario.nome.value == "" || formulario.descricao.value == ""
			|| formulario.enderecoCompleto.value == ""
			|| formulario.categoria.value == ""
			|| formulario.horario.value == "" || formulario.nr.value == ""
			|| formulario.data.value == "" || formulario.logradouro.value =="" || formulario.cidade.value =="" || formulario.uf.value =="" ) {	 
		alert("Preencha todos os campos!");
	} else {
		document.form_cadastro.submit();
	}
}

</script>
	<!-- script endereco -->
	<script>
var placeSearch, autocomplete;
var componentForm = {
  street_number: 'short_name',
  route: 'long_name',
  locality: 'long_name',
  administrative_area_level_1: 'short_name'
};

function initAutocomplete() {
  // Create the autocomplete object, restricting the search to geographical
  // location types.
  autocomplete = new google.maps.places.Autocomplete(
      /** @type {!HTMLInputElement} */(document.getElementById('autocomplete')),
      {types: ['geocode']});

  // When the user selects an address from the dropdown, populate the address
  // fields in the form.
  autocomplete.addListener('place_changed', fillInAddress);
}

// [START region_fillform]
function fillInAddress() {
  // Get the place details from the autocomplete object.
  var place = autocomplete.getPlace();
  
  // Get each component of the address from the place details
  // and fill the corresponding field on the form.
  for (var i = 0; i < place.address_components.length; i++) {
    var addressType = place.address_components[i].types[0];
    if (componentForm[addressType]) {
      var val = place.address_components[i][componentForm[addressType]];
      document.getElementById(addressType).value = val;
    }
  }
}
// [END region_fillform]

// [START region_geolocation]
// Bias the autocomplete object to the user's geographical location,
// as supplied by the browser's 'navigator.geolocation' object.
function geolocate() {
  if (navigator.geolocation) {
    navigator.geolocation.getCurrentPosition(function(position) {
      var geolocation = {
        lat: position.coords.latitude,
        lng: position.coords.longitude
      };
      var circle = new google.maps.Circle({
        center: geolocation,
        radius: position.coords.accuracy
      });
      autocomplete.setBounds(circle.getBounds());
    });
  }
}
// [END region_geolocation]

    </script>
	<script
		src="https://maps.googleapis.com/maps/api/js?key=AIzaSyApKcpBbux4Wedj7kn06Tmts9eRqtEwuSM&amp&signed_in=true&libraries=places&callback=initAutocomplete"
		async defer></script>
</body>
</html>
