<!doctype html>
<html lang="pt-br">
<head>
<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="description"
	content="A front-end template that helps you build fast, modern mobile web apps.">
<meta name="viewport" content="width=device-width, initial-scale=1">
<title>Cosangue</title>

<!-- Add to homescreen for Chrome on Android -->
<meta name="mobile-web-app-capable" content="yes">
<link rel="icon" sizes="192x192" href="../img/ic_opacity_black_24dp.png">

<!-- Add to homescreen for Safari on iOS -->
<meta name="apple-mobile-web-app-capable" content="yes">
<meta name="apple-mobile-web-app-status-bar-style" content="black">
<meta name="apple-mobile-web-app-title" content="Cosangue">
<link rel="apple-touch-icon-precomposed"
	href="../img/ic_opacity_black_24dp.png">

<!-- Tile icon for Win8 (144x144 + tile color) -->
<meta name="msapplication-TileImage"
	content="images/touch/ms-touch-icon-144x144-precomposed.png">
<meta name="msapplication-TileColor" content="#3372DF">

<link rel="shortcut icon" href="../img/ic_opacity_black_24dp.png" />

<!-- SEO: If your mobile URL is different from the desktop URL, add a canonical link to the desktop page https://developers.google.com/webmasters/smartphone-sites/feature-phones -->
<!--
    <link rel="canonical" href="http://www.example.com/">
    -->

<link
	href="https://fonts.googleapis.com/css?family=Roboto:regular,bold,italic,thin,light,bolditalic,black,medium&amp;lang=en"
	rel="stylesheet">
<link href="https://fonts.googleapis.com/icon?family=Material+Icons"
	rel="stylesheet">
<link rel="stylesheet"
	href="https://storage.googleapis.com/code.getmdl.io/1.0.5/material.red-deep_orange.min.css" />
<script
	src="https://storage.googleapis.com/code.getmdl.io/1.0.5/material.min.js"></script>
<link rel="stylesheet"
	href="https://fonts.googleapis.com/icon?family=Material+Icons">
<link rel="stylesheet" href="/css/styles.css">
<script type="text/javascript" src="../js/javascript.js"></script>
<script type="text/javascript" src="../js/jquery-2.1.4.js"></script>
<style type="text/css">
</style>
</head>
<body background="../img/cream_pixels.png">
	<div
		class="demo-layout mdl-layout mdl-js-layout mdl-layout--fixed-drawer mdl-layout--fixed-header">
		<header
			class="demo-header mdl-layout__header mdl-color--white mdl-color--grey-100 mdl-color-text--grey-600">
			<div class="mdl-layout__header-row">
				<span class="mdl-layout-title">Eventos</span>
				<div class="mdl-layout-spacer"></div>
			</div>
		</header>
		<div
			class="demo-drawer mdl-layout__drawer mdl-color--red-900 mdl-color-text--blue-grey-50">
			<header class="demo-drawer-header">
				<img src="/img/user.jpg" class="demo-avatar">
				<div class="demo-avatar-dropdown">
					<span class="mdl-color-text--white">projetocosangue</span>
					<div class="mdl-layout-spacer"></div>
				</div>
			</header>
			<nav class="demo-navigation mdl-navigation mdl-color--red-800">
				<a class="mdl-navigation__link mdl-color-text--white"
					href="/listaEventos"><i
					class="mdl-color-text--white material-icons" role="presentation">home</i>Eventos</a>
				<a class="mdl-navigation__link mdl-color-text--white"
					href="/telaCriaEvento"><i
					class="mdl-color-text--white material-icons" role="presentation">event</i>Criar
					Evento</a> <a class="mdl-navigation__link mdl-color-text--white"
					href="/sair"><i class="mdl-color-text--white material-icons"
					role="presentation">power_settings_new</i>Sair</a>
				<div class="mdl-layout-spacer"></div>
			</nav>
		</div>
		<main class="mdl-layout__content">
		<div class="mdl-grid demo-content">
			<table class="mdl-data-table mdl-js-data-table mdl-shadow--2dp ">
				<thead>
					<tr>
						<th class="mdl-data-table__cell--non-numeric">Evento</th>
						<th>Categoria</th>
						<th>Data</th>
						<th>Participantes</th>
						<th>Visualizar</th>
						<th>Atualizar</th>
						<th>Excluir</th>
					</tr>
				</thead>
				<tbody>
					{{#acao}}
					<tr>
						<td class="mdl-data-table__cell--non-numeric">{{nome}}</td>
						<td>{{categoria}}</td>
						<td>{{data}}</td>
						<td>{{nParticipantes}}</td>
						<td>
							<form action="/buscaEventoTeste" method="POST" name="form">
								<div class="mdl-card__actions">
									<input type="hidden" id="id" name="id" value="{{id}}" />
									<button
										class="mdl-button mdl-button--colored mdl-js-button mdl-js-ripple-effect material-icons"
										type="submit">visibility</button>
								</div>
							</form>
						</td>

						<td>
							<form action="/atualizaEvento" method="POST" name="form2">
								<div class="mdl-card__actions">
									<input type="hidden" id="id2" name="id" value="{{id}}" />
									<button
										class="mdl-button mdl-button--colored mdl-js-button mdl-js-ripple-effect material-icons"
										type="submit">mode_edit</button>
								</div>
							</form>
						</td>

						<td>
							<form action="/excluiEvento" method="POST" name="form3">
								<div class="mdl-card__actions">
									<input type="hidden" id="id3" name="id" value="{{id}}" />
									<button
										class="mdl-button mdl-button--colored mdl-js-button mdl-js-ripple-effect material-icons"
										type="submit" onclick="funcao1()">clear</button>
								</div>
							</form>
						</td>
					</tr>
					{{/acao}}
				</tbody>
			</table>
		</div>
		{{^acao}}
		<h3>Não há eventos no momento</h3>
		{{/acao}} </main>
	</div>
	<script src="../js/material.min.js"></script>

	<script type="text/javascript">  
function excluiEvento(){  
	alert ("O evento será excluído!")
}  
</script>

</body>
</html>