<!doctype html>
<html lang="pt-br">
<head>
<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="description"
	content="A front-end template that helps you build fast, modern mobile web apps.">
<meta name="viewport" content="width=device-width, initial-scale=1">
<title>Cosangue</title>

<!-- Add to homescreen for Chrome on Android -->
<meta name="mobile-web-app-capable" content="yes">
<link rel="icon" sizes="192x192" href="../img/ic_opacity_black_24dp.png">

<!-- Add to homescreen for Safari on iOS -->
<meta name="apple-mobile-web-app-capable" content="yes">
<meta name="apple-mobile-web-app-status-bar-style" content="black">
<meta name="apple-mobile-web-app-title" content="Cosangue">
<link rel="apple-touch-icon-precomposed"
	href="../img/ic_opacity_black_24dp.png">

<!-- Tile icon for Win8 (144x144 + tile color) -->
<meta name="msapplication-TileImage"
	content="images/touch/ms-touch-icon-144x144-precomposed.png">
<meta name="msapplication-TileColor" content="#3372DF">

<link rel="shortcut icon" href="../img/ic_opacity_black_24dp.png" />


<link
	href="https://fonts.googleapis.com/css?family=Roboto:regular,bold,italic,thin,light,bolditalic,black,medium&amp;lang=en"
	rel="stylesheet">
<link href="https://fonts.googleapis.com/icon?family=Material+Icons"
	rel="stylesheet">
<link rel="stylesheet"
	href="https://storage.googleapis.com/code.getmdl.io/1.0.5/material.red-deep_orange.min.css" />
<script
	src="https://storage.googleapis.com/code.getmdl.io/1.0.5/material.min.js"></script>
<link rel="stylesheet"
	href="https://fonts.googleapis.com/icon?family=Material+Icons">
<link rel="stylesheet" href="/css/styles.css">
<script type="text/javascript" src="../js/javascript.js"></script>
<script type="text/javascript" src="../js/jquery-2.1.4.js"></script>
</head>

<style type="text/css">
.campo1 {
	float: left;
}

.mdl-cell {
	padding: 1cm 1cm 1cm 1cm;
}
</style>
<body background="../img/cream_pixels.png">
	<div
		class="demo-layout mdl-layout mdl-js-layout mdl-layout--fixed-drawer mdl-layout--fixed-header">
		<header
			class="demo-header mdl-layout__header mdl-color--white mdl-color--grey-100 mdl-color-text--grey-600">
			<div class="mdl-layout__header-row">
				<span class="mdl-layout-title">Evento</span>
				<div class="mdl-layout-spacer"></div>
			</div>
		</header>
		<div
			class="demo-drawer mdl-layout__drawer mdl-color--red-900 mdl-color-text--blue-grey-50">
			<header class="demo-drawer-header">
				<img src="/img/user.jpg" class="demo-avatar">
				<div class="demo-avatar-dropdown">
					<span class="mdl-color-text--white">projetocosangue</span>
					<div class="mdl-layout-spacer"></div>
				</div>
			</header>
			<nav class="demo-navigation mdl-navigation mdl-color--red-800">
				<a class="mdl-navigation__link mdl-color-text--white"
					href="/listaEventos"><i
					class="mdl-color-text--white material-icons" role="presentation">home</i>Eventos</a>
				<a class="mdl-navigation__link mdl-color-text--white"
					href="/telaCriaEvento"><i
					class="mdl-color-text--white material-icons" role="presentation">event</i>Criar
					Evento</a> <a class="mdl-navigation__link mdl-color-text--white"
					href="/sair"><i class="mdl-color-text--white material-icons"
					role="presentation">power_settings_new</i>Sair</a>
				<div class="mdl-layout-spacer"></div>
			</nav>
		</div>
		<main class="mdl-layout__content ">
		<div class="mdl-grid demo-content">
			<div class="mdl-card mdl-shadow--6dp mdl-cell mdl-cell--8-col">
				{{#acao}}
				<div
					class="mdl-card__title mdl-color--primary mdl-color-text--white demo-card-square"
					id={{categoria}}>
					<h2>{{categoria}}</h2>
				</div>
				<!-- <div class="mdl-color--white mdl-shadow--2dp mdl-cell mdl-cell--8-col mdl-grid"> -->
				<div class="mdl-cell mdl-cell--10-col mdl-card__supporting-text">

					<div>
						<p>
						<h4>{{nome}}</h4>
						</p>
					</div>
					<div>
						<h6>{{descricao}}</h6>
					</div>

					<div>
						{{#endereco}}
						<h6>
							<b>Local:</b> {{enderecoCompleto}}
						</h6>
						{{/endereco}}
					</div>

					<div id="tipos">
						<h6>
							<b>Tipo Sanguíneo:</b> {{#tipo}} <label><span
								class="mdl-radio__label">{{descricao}} &nbsp; </span></label> {{/tipo}}
						</h6>
					</div>

					<div>
						<h6>
							<b>Data: </b> {{data}} &nbsp;
						</h6>
					</div>

					<div>
						<h6>
							<b>Horário:</b> {{horario}}
						</h6>

						{{/acao}}

						<div class="mdl-card__actions mdl-card--border">
							<button
								class="mdl-button mdl-button--colored mdl-js-button mdl-js-ripple-effect"
								type="button" onclick="history.go(-1)">Voltar</button>
						</div>

					</div>
				</div>
			</div>
		</div>
		</main>
		<script src="../js/material.min.js"></script>

		<script type="text/javascript">  
function habilitar(){  
	var tipoSan = document.getElementById("tipos");
	
    if(document.getElementById("SOLICITACAO").value()){  
        tipoSan.style.display = "block";
    } else {
    	tipoSan.style.display = "none";
    }
}  
</script>
</body>
</html>